# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Composer
/vendor/
composer.phar

# Environment
/.env

# Runtime
tests/_output/*
!tests/_output/.gitignore
var/cache/volt/*.php
var/logs/*.log
var/*.sqlite*
