AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # DocumentRoot
    RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]

    # VirtualDocumentRoot
    # RewriteRule ^(.*)$ /index.php?_url=/$1 [QSA,L]
</IfModule>
